.contact-table {
  width: 100%;
}
.contact-table caption {
  padding: 10px 0;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  border-bottom: 1px dashed #ccc;
}
.contact-table td,
.contact-table th {
  padding: 5px 0;
}
.company-honor-list dt {
  margin-top: 15px;
}
/*公司文化*/
.cultrue-content h3 {
  font-size: inherit;
  font-weight: 700;
  margin: 30px 0;
}
.cultrue-content img {
  float: right;
  margin-left: 15px;
}
.cultrue-content span {
  line-height: 1.8;
}
/*公司简介*/
.company-about-content p {
  text-indent: 2em;
  line-height: 1.8;
}
.company-about-content img {
  float: right;
  margin-left: 15px;
}
