@charset "utf-8";
@import url("../iconfont.css");
/*字体大小*/
/*引入字体图标样式*/
/*基础样式*/
html {
  font-size: 14px;
}
body {
  font-family: 'Microsoft Yahei', STSong, sans-serif;
  background-color: #ffffff;
  -ms-overflow-style: scrollbar;
}
.fixed-width {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.inline-block {
  display: inline-block;
}
.bold {
  font-weight: 700;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.common-link {
  color: #428BCA;
}
a {
  color: #333333;
}
a:hover {
  color: #000000;
}
.my-mark {
  color: #f53b3c;
}
img {
  max-width: 100%;
}
/*头部导航*/
.outer-wrapper-all {
  position: relative;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.top-header {
  height: 30px;
  line-height: 30px;
  background-color: #f9f9f9;
}
.top-header a {
  color: #898989;
}
.top-header li + li:before {
  content: '|';
  display: inline-block;
  margin-right: 5px;
  color: #898989;
}
.header-nav {
  z-index: 1;
  width: 100%;
  line-height: 60px;
  background-color: #f7f7f7;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
}
.header-nav.top-hover {
  position: fixed;
  top: 0;
  opacity: 0.7;
}
.header-nav .nav-group-title {
  font-size: 14px;
  text-align: left;
  margin-top: 0;
  color: #2ea7e0;
}
.header-nav .nav-group-title .iconfont {
  font-size: 1.8em;
  margin-right: 5px;
}
.header-nav .subnav-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #efefef;
  width: 100%;
  /* 登录框.form-control的z-index值为2*/
  z-index: 3;
  visibility: hidden;
  transition: visibility 0.1s ease-in-out;
}
.header-nav .subnav {
  margin: auto;
  padding: 30px;
  line-height: 2;
  font-size: 14px;
}
@media (min-width: 768px) {
  .header-nav .subnav {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .header-nav .subnav {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .header-nav .subnav {
    width: 1170px;
  }
}
.header-nav .subnav.service-subnav {
  text-align: center;
}
.header-nav .subnav.service-subnav img {
  display: block;
  margin-bottom: 15px;
}
.header-nav .subnav.service-subnav li {
  float: none;
  display: inline-block;
  margin: 20px 30px;
}
.header-nav .subnav.service-subnav a {
  margin: 0;
}
.header-nav .subnav a {
  padding: 0;
  margin-right: 30px;
}
.header-nav .subnav li {
  margin-right: 30px;
  position: static;
}
.header-nav .subnav li:after {
  content: none;
}
.header-nav .subnav:after {
  content: '';
  display: table;
  clear: both;
}
.header-nav .subnav-solution {
  position: relative;
  padding-bottom: 0;
  height: 280px;
}
.header-nav .subnav-solution li {
  width: 100%;
}
.header-nav .subnav-solution li.default .subnav-solution-content,
.header-nav .subnav-solution li:hover .subnav-solution-content {
  display: block;
}
.header-nav .subnav-solution .nav-group-title {
  width: 18em;
  margin: 0;
  padding: 3px 0;
  background-color: #eee;
  color: inherit;
}
.header-nav .subnav-solution .nav-group-title:after {
  content: '>';
  float: right;
  line-height: 2;
}
.header-nav .subnav-solution .nav-group-title:hover {
  color: #2ea7e0;
}
.header-nav .subnav-solution-content {
  display: none;
  position: absolute;
  left: 18em;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 30px;
  padding-left: 15px;
  margin-left: 30px;
  background-color: #eaeaea;
}
.header-nav li.website-logo {
  margin-right: 30px;
}
.header-nav li.website-logo:after {
  content: none;
}
.header-nav li.website-logo:hover {
  background-color: inherit;
}
.header-nav li:hover,
.header-nav li.active {
  background-color: #eeeeee;
}
.header-nav li:hover .nav-title:after,
.header-nav li.active .nav-title:after {
  display: block;
}
.header-nav li:hover .subnav-wrapper {
  visibility: visible;
  transition: visibility 0.1s ease-in-out;
}
.header-nav li {
  float: left;
}
.header-nav a,
.header-nav .nav-title {
  display: block;
  padding: 0 15px;
  position: relative;
}
.header-nav a:after,
.header-nav .nav-title:after {
  display: none;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #2ea7e0;
  height: 3px;
  width: 100%;
}
.header-nav a:hover {
  text-decoration: none;
}
.logo-tab-item .header-tab-logo {
  display: block;
  width: 110px;
  height: 60px;
  background: url("../../images/logo.png") no-repeat;
}
/*左菜单*/
.content-wrapper {
  background-color: #f4f4f4;
}
.content-wrapper .left-menu-section {
  float: left;
  width: 280px;
  padding-top: 30px;
}
.content-wrapper .left-menu-section li {
  margin-bottom: 5px;
  padding: 10px 0 10px 15px;
  transition: padding ease 0.3s;
  border-top: 1px solid transparent;
}
.content-wrapper .left-menu-section li.active {
  background-color: #fff;
  position: relative;
  right: -1px;
  border: 1px solid #e3e3e3;
  border-right: none;
}
.content-wrapper .left-menu-section li.active a {
  color: #2ea7e0;
}
.content-wrapper .left-menu-section li:hover {
  background-color: #eaeaea;
  padding-left: 20px;
  border-top: 1px solid #e3e3e3;
}
.content-wrapper .left-menu-section li.submenu {
  border-top: 1px solid #e3e3e3;
  font-weight: 700;
  margin: 0;
}
.content-wrapper .left-menu-section li.submenu .submenu-title {
  padding: 10px 0;
  display: inline-block;
}
.content-wrapper .left-menu-section li.submenu:hover {
  padding-left: 15px;
  background-color: inherit;
}
.content-wrapper .left-menu-section li ul {
  margin-left: -15px;
}
.content-wrapper .left-menu-section li ul li {
  padding-left: 30px;
  font-weight: normal;
}
.content-wrapper .left-menu-section li ul li:hover {
  padding-left: 35px;
}
.content-wrapper .left-menu-section a {
  display: block;
  color: #818181;
}
.content-wrapper .left-menu-section a:hover {
  text-decoration: none;
}
.content-wrapper .main-content {
  float: left;
  width: calc(100% - 280px);
  min-height: 200px;
  border-left: 1px solid #e3e3e3;
  background-color: #fff;
  padding: 0 15px 50px 30px;
}
.content-wrapper .content-title {
  position: relative;
  font-size: 18px;
  padding: 9.5px;
  border-bottom: 1px solid #e3e3e3;
}
.content-wrapper .content-title:before {
  content: '';
  position: absolute;
  left: -9.5px;
  bottom: 0;
  background-color: #2ea7e0;
  width: 6em;
  height: 3px;
}
/*底部*/
.footer {
  color: #fff;
  background-color: #2ea7e0;
  padding: 10px 0;
  font-size: 11.9px;
}
.footer a {
  color: inherit;
}
.region-flag {
  width: 16px;
}
.advantage-desc-list {
  text-align: center;
  padding: 15px 0;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
}
.advantage-desc-list li {
  display: inline-block;
  padding: 30px 15px 0 92px;
  height: 92px;
  text-align: left;
  width: 240px;
}
.advantage-desc-list li div {
  padding-left: 15px;
}
.advantage-desc-list .advantage-desc-advatage1 {
  background: url("../../images/advantage1.gif") no-repeat;
}
.advantage-desc-list .advantage-desc-advatage2 {
  background: url("../../images/advantage2.gif") no-repeat;
}
.advantage-desc-list .advantage-desc-advatage3 {
  background: url("../../images/advantage3.gif") no-repeat;
}
.advantage-desc-list .advantage-desc-advatage4 {
  background: url("../../images/advantage4.gif") no-repeat;
}
/*重置flexslider样式*/
.flexslider {
  margin: 0;
  border: none;
}
.flex-control-nav {
  bottom: 10px;
}
.ads-slides {
  height: 350px;
}
.ads-slides .slides img {
  width: inherit;
  max-width: inherit;
  height: 100%;
}
/*联系方式*/
.sidemenu-container {
  position: fixed;
  z-index: 1;
  width: 35px;
  height: 10em;
  top: 50%;
  right: 0;
  background-color: #2ea7e0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: all .3s;
}
.sidemenu-container:hover {
  width: 235px;
  height: 450px;
  padding-top: 150px;
}
.sidemenu-container .sidemenu-content-wrapper {
  padding: 15px;
  float: left;
  width: 200px;
  height: 450px;
  background-color: #fff;
  margin-top: -150px;
  margin-right: -200px;
}
.sidemenu-container .sidemenu-content-wrapper h1 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
}
.sidemenu-container .sidemenu-content-wrapper p {
  margin: 15px 0;
}
.sidemenu-container .sidemenu-content-wrapper li li {
  margin-left: 5px;
  line-height: 1.6;
}
.sidemenu-container .sidemenu-tip {
  width: 1em;
  margin: 0 auto;
}
.sidemenu-container .sidemenu-tip-arr {
  position: absolute;
  right: -8px;
  top: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  color: #fff;
}
.sidemenu-container .sidemenu-contact {
  float: left;
  color: #fff;
  text-align: center;
  width: 35px;
  cursor: pointer;
  padding: 15px 0;
}
html {
  height: 100%;
  background: url("../../images/home/index_bg2.jpg") #2f313d;
}
body {
  height: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  overflow-y: hidden;
  position: relative;
}
header,
nav {
  padding-right: 35px;
}
.eco-system-container {
  background: url("../../images/tuoling.eco.png") center no-repeat;
  height: 100%;
  margin-top: -70px;
}
.footer {
  border: none;
  position: fixed;
  width: 100%;
  bottom: 0;
}
