@import "variable.less";
.flexslider {
	min-height: 400px;
	img {
		min-height: 400px;
	}
	li {
		position: relative;
	}
	.txt-container {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.35);
		top: 0;
		left: 0;
		color: #fff;
		text-align: center;
		font-size: 1.5rem;
		div {
			padding: 0 200px;
		}
		.txt-intro {
			text-indent: 2em;
			line-height: 1.8;
			margin-top: 30px;
			text-align: left;
		}
	}
	.txt-title {
		font-size: 2.5rem;
		margin: 50px 0;
	}
	.txt-small-title {
		background-color: rgb(255,183,0);
		color: #333;
		padding: 5px 10px;
		border-radius: 3px;
	}
}

.body-solution h2 {
	text-align: center;
	font-size: 1.5rem;
	margin: 30px 0;
}
.list1 {
	li {
		float: left;
		width: 50%;
		margin: 15px 0;
		padding: 0 100px;
	}
	.iconfont {
		font-size: 3rem;
		color: @highlight-color;
	}
}
.list2 {
	li {
		float: left;
		width: 33%;
		text-align: center;
		p {
			text-align: left;
		}
		strong {
			display: inline-block;
			margin: 5px 0;
		}
		& ~ li {
			border-left: 1px solid @border-color;
			padding-left: 15px;
		}
	}
}

.list3 {
	li {
		float: left;
		width: 25%;
	}
	strong {
		display: block;
		margin: 5px 0;
	}
}